.icon-and-input-container {
   display: flex;
   align-items: center;
   gap: 6px;
}

/* Inputs Type: Text, Number */
input[type='text'],
input[type='number'] {
   width: 100%;
   padding: 8px;
   border-radius: 3px;
   outline: none;
   border: none;
   background: #f3f3f4;
   color: #413f3f;
   font-family: inherit;
   font-size: 16px;
}
input[type='text']::placeholder,
input[type='number']::placeholder {
   color: #959595;
}

/* Custom Select */
.select-wrapper {
   cursor: pointer;
   display: inline-block;
   position: relative;
}

.styled-select {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 8px 8px 8px 6px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 3px;
   background: #f3f3f4;
   color: #413f3f;
   font-family: inherit;
   font-size: 16px;
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome, Edge, Opera and Firefox */
}

.styled-options {
   display: none; /* Initial */
   position: absolute;
   padding: 4px 0;
   top: 100%;
   right: 0;
   left: 0;
   z-index: 999;
   list-style: none;
   border: 1px solid #cecece;
   border-radius: 3px;
   background: #ffffff;
   box-shadow: 0px 3px 20px #00000029;
   -webkit-box-shadow: 0px 3px 20px #00000029;
   -moz-box-shadow: 0px 3px 20px #00000029;
}
.styled-options li {
   padding: 4px 8px;
}
.styled-options li:hover {
   background: #f3f3f4;
}

/* Custom Radio */
.radio-custom {
   opacity: 0;
   position: absolute;
   font-weight: 500;
}

.radio-custom,
.radio-custom-label {
   display: inline-block;
   vertical-align: top;
   cursor: pointer;
   font-weight: 500;
   font-size: 14px;
}

.radio-custom-label {
   position: relative;
}

.radio-custom + .radio-custom-label:before {
   content: '';
   background: url(./assets/checkbox-unchecked.svg);
   display: inline-block;
   vertical-align: middle;
   width: 18px;
   height: 18px;
   text-align: center;
   margin-inline-end: 6px;
}

.radio-custom:checked + .radio-custom-label:before {
   background: url(./assets/checkbox-checked.svg);
}

/* Input Type: Number - Hide arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type='number'] {
   -moz-appearance: textfield;
}
