*,
*::before,
*::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Rubik', sans-serif;
}

/* Containers*/
.page-container {
   width: 100%;
   height: 100vh;
   padding: 116px 0;
}

.content-container {
   width: 750px;
   height: 100%;
   margin: 0 auto;
   display: flex;
   background: #ffffff;
   border: 1px solid #cecece;
   border-radius: 6px;
   box-shadow: 0px 3px 20px #00000029;
   -webkit-box-shadow: 0px 3px 20px #00000029;
   -moz-box-shadow: 0px 3px 20px #00000029;
}

.content-container__img-container,
.content-container__form-container {
   width: 50%;
   height: 100%;
}
.content-container__form-container {
   padding: 24px 26px;
}

.content-container__img-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 58%;
}

form {
   width: 100%;
   display: grid;
   grid-template-columns: 8px repeat(4, 1fr);
   column-gap: 16px;
   row-gap: 12px;
}

#first-name {
   grid-column: 1 / span 3;
}
#last-name {
   grid-column: 4 / span 2;
}
#mobile-number {
   grid-column: 1 / span 4;
}
#mobile-prefix {
   grid-column: 5 / span 1;
}
#test {
   grid-column: 1 / span 3;
}
#test1 {
   grid-column: 4 / span 2;
}

/* Responsive */
@media only screen and (max-width: 750px) {
   .page-container {
      padding: 0;
   }
   .content-container {
      flex-direction: column;
      width: 100%;
      border: none;
      border-radius: unset;
   }
   .content-container__img-container,
   .content-container__form-container {
      width: 100%;
   }
   .content-container__img-container {
      height: 29%;
   }
   .content-container__form-container {
      height: 71%;
      padding: 24px 16px 16px;
   }
}
